<app-headers></app-headers>


    <div class="wrapper">
        <div class="parallax-header2" id="microsoft">
        </div>
        <div class="intro" id="intro">
            <!-- Tarjetas -->
            <div class="wrapper">
                <h2 class="subtitulo">Nuestros Servicios</h2>
                <div class="cols">
                    <div class="col" ontouchstart="this.classList.toggle('hover');">
                        <div class="container">
                            <div class="front" style="background-image: url(../../assets/img/cumpleanos.jpeg)">
                                <div class="inner">
                                    <p> Reserva</p>
                                    <span>en Salones Perruncay</span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Todas tus ocasiones especiales<br>
                                        Celebralas con nosotros<br>.<br>Reserva con 5 días de anticipación</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" ontouchstart="this.classList.toggle('hover');">
                        <div class="container">
                            <div class="front" style="background-image: url(../../assets/img/cotizarimg.jpeg)">>
                                <div class="inner">
                                    <p>Cotizar</p>
                                    <span>en Perruncay</span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Perruncay te ofrece una cotización completamente personalizada.<br>Elige lo que necesites nosotros lo hacemos posible.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" ontouchstart="this.classList.toggle('hover');">
                        <div class="container">
                            <div class="front" style="background-image: url(../../assets/img/decorar.jpeg)">
                                <div class="inner">
                                    <p>Decoración</p>
                                    <span>de Eventos</span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Plasma tus ideas.<br>Perruncay realiza tu idea a precios únicos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" ontouchstart="this.classList.toggle('hover');">
                        <div class="container">
                            <div class="front" style="background-image: url(../../assets/img/catering.jpeg)">
                                <div class="inner">
                                    <p>Salones</p>
                                    <span>de Eventos</span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>Tenemos diferentes salones por toda la ciudad<br>Uno de ellos seguramente llenará tus expectativas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="consola3">
            <!-- Galeria -->
            <section class="gallery" id="portafolio">
                <div class="contenedor">
                    <h2 class="subtitulo">Tus eventos con Perruncay</h2>
                    <div class="contenedor-galeria">
                        <img src="../../assets/img/salon1.jpg" alt="" class="img-galeria">
                        <img src="../../assets/img/15años.jpg" alt="" class="img-galeria">
                        <img src="../../assets/img/salon3.jpg" alt="" class="img-galeria">
                        <img src="../../assets/img/salon4.jpg" alt="" class="img-galeria">
                        <img src="../../assets/img/salon5.jpg" alt="" class="img-galeria">
                        <img src="../../assets/img/salon6.jpeg" alt="" class="img-galeria">
                    </div>
                </div>
            </section>
            <section class="imagen-light">
                <i class="fas fa-times close"></i>
                <img src="../../assets/img/cumpleanos.jpeg" alt="" class="agregar-imagen">
            </section>
        </section>
        <div class="parallax-header3" id="nintendo">
            <div class="row">
                <div class="col">
                    <h3 class="hola">Misión</h3>
                    <p class="mv">-Marcar siempre la diferencia por medio de un servicio personalizado, puntual,
                    propuestas creativas
                    de alta calidad, con costos y precios competitivos para construir una relación estratégica de
                    confianza logrando crecimiento y satisfacción mutua.<br>
                    -Perruncay es una empresa sólida que ha venido demostrando calidad en su servicio y
                    respondiendo a los requerimientos del cliente convirtiéndonos así en sus socios estratégicos
                    enfocados en un mismo objetivo. Nuestro trabajo se refleja en el nivel de satisfacción del cliente
                    en cada una de las Unidades en las que brindamos servicios.</p>
                </div>
                <div class="col">
                    <h3 class="hola">Visión</h3>
                    <p class="mv">-Proporcionar un espacio altamente versátil y adaptable que satisfaga las
                    necesidades de nuestros clientes para personalizar su evento.<br>
                    =Nos esforzamos por crear una experiencia inolvidable a través de la decoración, la música, la iluminación y la atención
                    personalizada. Además, nos centramos en la tecnología de vanguardia, ofreciendo sistemas de sonido
                    de alta calidad, pantallas y proyectores de última generación, y servicios de conectividad a
                    internet de alta velocidad para eventos en línea. <br>
                    -También nos preocupamos por la sostenibilidad y la responsabilidad social, ofreciendo opciones de catering y bebidas sostenibles, utilizando materiales
                    reciclables y reduciendo el impacto ambiental. Finalmente, nuestra prioridad es brindar excelencia
                    en el servicio al cliente, ofreciendo atención personalizada y adaptándonos a las necesidades y
                    preferencias de nuestros clientes.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="consola3">
        <section class="layout2">
            <div class="direccion2">
                <div class="col-4">
                    <h2>Ubícanos</h2>
                    <h3 style="color: black;"><span class="iconubi"></span> Primera Entrada<br>JOSE MARIA ORTEGA - PEDRO LOPEZ DE ARGUDO</h3><br>
                    <h3 style="color: black;"><span class="iconubi"></span> Entrada<br>MANUEL TENORIO LAZO</h3>
                    <div class="row">
                        <div class="col">
                            <li class="contac" style="color: black;"><i>Celular</i><br><span class="iconwpp"></span> 
                                    (+593) 985860636
                            </li>
                        </div>
                        <div class="col">
                            <li class="contac" style="color: black;"><i>Email</i><br><span class="iconemail"></span> 
                                infoeventos@perruncay.com
                        </li>
                        </div>
                      </div>
                </div>
            </div>
            <div class=direccion>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3984.7770135720775!2d-79.0137482852433!3d-2.880569597901834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMsKwNTInNTAuMSJTIDc5wrAwMCc0MS42Ilc!5e0!3m2!1ses!2sec!4v1687016743604!5m2!1ses!2sec"
                    width="90%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
    </section>


