<!DOCTYPE html>
<html lang="en">

<head>
	<title>Footer Design</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>

	<footer class="footer" style="width: 100%;">
		<div class="container">
			<div class="row">
				<div class="footer-col">
					<h4><a href=""><img src="assets/img/png.png" style="width: 180px;" alt=""></a></h4>
					<ul>
						<li><a href="/menu">Ir al Menu Principal</a></li>

					</ul>
				</div>
				<div class="footer-col">
					<h4>Ayuda</h4>
					<ul>
						<li><a href="/conocenos">Conócenos</a></li>
						<li><a href="#">Ayuda</a></li>
						<li><a href="#">Politicas</a></li>
						<li><a href="#">Info</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4>Perruncay</h4>
					<ul>
						<li><a href="/salones">Salones Disponibles</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4>Redes Sociales</h4>
					<div class="social-links">
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<h4>Horarios de Atencion:</h4>
						<p>Lunes a Viernes: 08:00 - 16:00</p>
						<p>Sabados: 08:00 - 13:00</p>

					</div>
				</div>
				
			</div>
		</div>
	</footer>

</body>

</html>