<div class="container">
<div class="navbar">
    <a href="/menu">
        <img src="assets/img/png.png" class="logo">
    </a>
    <nav>

        <ul id="menuList">
            <li><a class="boton3" href="/conocenos">Conócenos!</a></li>
            <li><a href="/perfiluser">Perfil</a></li>
            <li><a  class="boton1" href="/menu" (click)="cerrarSesion()">Cerrar Sesión </a></li>
            <li><a class="boton2" href="/login">Iniciar Sesión</a></li>
           

        </ul>
    </nav>
    <img src="assets/img/menu.png" class="menu-icon" onclick="togglemenu()">
</div>
</div>
<script>
    var menuList = document.getElementById("menuList");

    menuList.style.maxHeight = "0px";
    function togglemenu() {

        if (menuList.style.maxHeight == "0px") {
            menuList.style.maxHeight = "220px";
        } else {

            menuList.style.maxHeight = "0px";

        }
    }

</script>