<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Logeo para el Salon de Eventos </title>
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<app-headers></app-headers>


<div>
    <section class="layout">

        <a href="/gestionuser">
            <div class="card">
                <div class="icon">
                    <img src="assets/img/personas.png" width="40px " alt="">
                </div>
                <strong> USUARIOS
                </strong>
                <div class="card__body">
                    Gestiona los usuarios
                </div>
                <span>
                    <img src="assets/img/personas.png" width="70px " alt="">
                </span>
            </div>
        </a>
        <!-- <div class="card">
            <div class="icon">
                <img src="assets/img/usuario.png" width="40px " alt="">
            </div>
            <strong> EMPLEADOS
            </strong>
            <div class="card__body">
                Crear nuevos empleados
            </div>
            <span> <a href="/editarusu"><img src="assets/img/usuario.png" width="70px " alt=""></a>
            </span>
        </div> -->
        <a href="/gestionsalones">
            <div class="card">
                <div class="icon">
                    <img src="assets/img/silla.png" width="40px " alt="">
                </div>
                <strong> SALONES
                </strong>
                <div class="card__body">
                    Gestionar los salones
                </div>
                <span> <img src="assets/img/silla.png" width="70px " alt="">
                </span>
            </div>
        </a>

        <a href="/listausu">
            <div class="card">
                <div class="icon">
                    <img src="assets/img/clientes.png" width="40px " alt="">
                </div>
                <strong> REGISTROS
                </strong>
                <div class="card__body">
                    Registro de usuarios
                </div>
                <span> <img src="assets/img/clientes.png" width="70px " alt="">
                </span>
            </div>
        </a>

        <a href="/gestionProd">
            <div class="card">
                <div class="icon">
                    <img src="assets/img/globo.png" width="40px " alt="">
                </div>
                <strong> PRODUCTOS
                </strong>
                <div class="card__body">
                    Gestión de productos
                </div>
                <span> <img src="assets/img/globo.png" width="70px " alt="">
                </span>
            </div>
        </a>

        <a href="/listares">
            <div class="card">
                <div class="icon">
                    <img src="assets/img/calendar.png" width="40px " alt="">
                </div>
                <strong> RESERVAS
                </strong>
                <div class="card__body">
                    Gestión de reservas
                </div>
                <span> <img src="assets/img/calendar.png" width="70px " alt="">
                </span>
            </div>
        </a>

        <a href="/listacotizaciones">

            <div class="card">
                <div class="icon">
                    <img src="assets/img/cotizacion.png" width="40px " alt="">
                </div>
                <strong> COTIZACIONES
                </strong>
                <div class="card__body">
                    Ver cotizaciones
                </div>
                <span> <img src="assets/img/cotizacion.png" width="70px " alt="">
                </span>
            </div>
        </a>

        <a href="/reportes">
            <div class="card">
                <div class="icon">
                    <img src="assets/img/cotizacion.png" width="40px " alt="">
                </div>
                <strong> REPORTES
                </strong>
                <div class="card__body">
                    Generar Reportes
                </div>
                <span> <img src="assets/img/cotizacion.png" width="70px " alt="">
                </span>
            </div>
        </a>
    </section>

</div>

</html>