<!DOCTYPE html>
<html>

<head>
    <meta class="viewport" content="width-device-width, initial-scale=1.0">
    <title>HEADER</title>

</head>

<app-headers></app-headers>
<h2 style="font-size: 24px; color: black;">LISTA DE RESERVAS</h2>
<select name="estados" style="padding-left: 10px; font-size: 20px; border-radius: 5px; background-color: #f4daaf; margin-left: 70px;"
[(ngModel)]="estado" required class="select" (click)="listarReservas()">
    <option value="0">Rechazado</option>
    <option value="1">Pendiente</option>
    <option value="2">Aprobado</option>
</select>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>N°</th>
                <th>CÉDULA</th>
                <th>NOMBRE</th>
                <th>CORREO</th>
                <th>ESTADO</th>
                <th>FECHA SOLICITADA</th>
                <th>ACCIÓN</th>

            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let res of reservas">
                <tr>
                    <td>{{ res.resId }}</td>
                    <td>{{ res.reCotiId.usuId.usuPerId.perCedula }}</td>
                    <td>{{ res.reCotiId.usuId.usuPerId.perNombre+" "+res.reCotiId.usuId.usuPerId.perApellido }}</td>
                    <td>{{ res.reCotiId.usuId.usuPerId.perCorreo }}</td>
                    <td>{{estados(res.resEstado)}}</td>
                    <td>{{ res.resFechaEvento | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <div><button type="button" name="button" [routerLink]="['/cot','validar',res.resId]">
                                <img src="assets/img/lapiz.png" width="20px">
                            </button></div>
                    </td>

                </tr>
            </ng-container>
        <tbody>
    </table>
</div>

</html>